@model Vehicle
@{
    ViewData["Title"] = $"{Model.Make} {Model.Model} Details";
}

    <!-- Header Section -->
    <div class="header mb-4">
        <h1 class="display-4"><b>@Model.Year @Model.Make @Model.Model</b></h1>

    </div>

    <!-- Vehicle Image and Information -->
    <div class="row">
        <div class="col-md-6 d-flex justify-content-center align-items-center">
            <!-- Centered image using flexbox -->
            <img src="@Model.ImgPath" class="img-fluid" style="max-width: 80%; height: auto;" alt="@Model.Make @Model.Model" draggable="false">
        </div>
        <div class="col-md-6">
            <h2>Details</h2>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><strong>Make:</strong> @Model.Make</li>
                <li class="list-group-item"><strong>Model:</strong> @Model.Model</li>
                <li class="list-group-item"><strong>Year:</strong> @Model.Year</li>
                <li class="list-group-item"><strong>Fuel Type:</strong> @Model.FuelType</li>
                <li class="list-group-item"><strong>Build:</strong> @Model.Build</li>
                <li class="list-group-item"><strong>MPG (City):</strong> @Model.CityMPG MPG</li>
                <li class="list-group-item"><strong>MPG (Highway):</strong> @Model.HwyMPG MPG</li>
                <li class="list-group-item"><strong>MSRP:</strong> @Model.MSRP.ToString("C")</li>
                <li class="list-group-item"><strong>In Stock:</strong> @(Model.InStock ? "Yes" : "No")</li>
            </ul>

            <div class="mt-4">
                <!-- Lighter gray button with dark text -->
                <a href="/vehicles" class="btn btn-light text-dark border border-dark"><i class="fas fa-arrow-left"></i> Back to All Vehicles</a>
            </div>
        </div>
    </div>
<!-- Font Awesome for icons -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
