@{
    ViewData["Title"] = "Edit Vehicle";
}
@model Vehicle

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

<div class="header">
    @if (Model?.VehicleId == 0)
    {
        <h1 class="display-4"><b>Add Vehicle</b></h1>
    }
    else {
        <h1 class="display-4"><b>Edit Vehicle</b></h1>
    }
</div>
<br />

<form asp-action="SubmitVehicle" method="post" class="edit-form">
    <input type="hidden" name="VehicleId" value="@Model?.VehicleId" />

    <div class="form-row">
        <div class="label-input">
            <label for="make">Make</label>
            <input type="text" id="make" name="Make" value="@Model?.Make" />
        </div>
        <div class="label-input">
            <label for="model">Model</label>
            <input type="text" id="model" name="Model" value="@Model?.Model" />
        </div>
        <div class="label-input">
            <label for="year">Year</label>
            <input type="number" id="year" name="Year" value="@Model?.Year" />
        </div>
    </div>

    <div class="form-row">
        <div class="label-input">
            <label for="build">Build</label>
            <select id="build" name="Build">
                <option value="Sedan" selected="@(Model?.Build == "Sedan" ? "selected" : null)">Sedan</option>
                <option value="Truck" selected="@(Model?.Build == "Truck" ? "selected" : null)">Truck</option>
                <option value="SUV" selected="@(Model?.Build == "SUV" ? "selected" : null)">SUV</option>
                <option value="Crossover" selected="@(Model?.Build == "Crossover" ? "selected" : null)">Crossover</option>
                <option value="Minivan" selected="@(Model?.Build == "Minivan" ? "selected" : null)">Minivan</option>
            </select>
        </div>
        <div class="label-input">
            <label for="fuelType">Fuel Type</label>
            <select id="fuelType" name="FuelType">
                <option value="Gas" selected="@(Model?.FuelType == "Gas" ? "selected" : null)">Gas</option>
                <option value="Electric" selected="@(Model?.FuelType == "Electric" ? "selected" : null)">Electric</option>
                <option value="Hybrid" selected="@(Model?.FuelType == "Hybrid" ? "selected" : null)">Hybrid</option>
                <option value="Hydrogen" selected="@(Model?.FuelType == "Hydrogen" ? "selected" : null)">Hydrogen</option>
            </select>
        </div>
        <div class="label-input">
            <label for="msrp">Starting MSRP</label>
            <input type="number" id="msrp" name="MSRP" value="@Model?.MSRP" />
        </div>
    </div>

    <div class="form-row">
        <div class="label-input">
            <label for="cityMPG">City MPG</label>
            <input type="number" id="cityMPG" name="CityMPG" value="@Model?.CityMPG" />
        </div>
        <div class="label-input">
            <label for="hwyMPG">Highway MPG</label>
            <input type="number" id="hwyMPG" name="HwyMPG" value="@Model?.HwyMPG" />
        </div>
        <div class="label-input">
            <label for="inStock" class="checkbox-label">
                In Stock &nbsp;
                <input type="checkbox" id="inStock" name="InStock" @(Model?.InStock == true ? "checked" : "") /> 
            </label>
        </div>
    </div>

    <div class="form-row">
        <div class="label-input">
            <label for="ImgPath">Image URL</label>
            <input type="text" name="ImgPath" value="@Model?.ImgPath" />
        </div>
    </div>
    
    <br />
    <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-lg btn-success">Save</button>
    </div>
</form>


<!-- STYLES -->
<style>
    .edit-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
    }

    .form-row {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
    }

    .label-input {
        flex: 1;
        display: flex;
        flex-direction: column;
    }

    label { color: grey; }

    input, select {
        padding: .25rem .5rem;
        border: 1px solid grey;
        border-radius: .25rem;
        font-size: 1.2rem;
    }

    .btn { max-width: fit-content; }
</style>