@{
    ViewData["Title"] = "Manage Inventory";
}
@model List<Vehicle>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

<div class="header">
    <h1 class="display-4"><b>Manage Inventory</b></h1>
</div>

<a class="btn-blue" asp-controller="Manage" asp-action="EditVehicle" asp-route-vehicleId="null">
    <i class="fas fa-plus fa-lg"></i>
    Add Vehicle
</a>

<div class="table-ctnr">
    @foreach (var vehicle in Model)
    {
        <div class="table-row">
            <div class="row-info">
                <img src="@vehicle.ImgPath" draggable="false" />
                <p>@vehicle.Year @vehicle.Make @vehicle.Model</p>
            </div>
            
            <div class="row-btns">
                <a asp-controller="Manage" asp-action="EditVehicle" asp-route-vehicleId="@vehicle.VehicleId">
                    <i class="fas fa-pencil-alt fa-lg"></i>
                </a>
                <a onclick="deleteVehicle(@vehicle.VehicleId)">
                    <i class="fas fa-trash-alt fa-lg"></i>
                </a>
            </div>
        </div>
    }
</div>

<!-- JavaScript -->
<script>

    // Delete Vehicle
    function deleteVehicle(id) {
        if (confirm("Are you sure you want to delete this vehicle?")) {
            fetch(`/Manage/DeleteVehicle?VehicleId=${id}`, {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json'
                }
            })
            .then(response => {
                if (response.ok) {
                    location.reload();
                } 
                else {
                    alert('Error deleting vehicle.');
                }
            })
            .catch(error => console.error('Error:', error));
        }
    }

    // Add Vehicle

</script>