@{
    ViewData["Title"] = "Manage Inventory";
}
@model List<Vehicle>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

<div class="header">
    <h1 class="display-4"><b>Manage Inventory</b></h1>
</div>

<button type="button" class="btn-blue">
    <i class="fas fa-plus fa-lg"></i>
    Add Vehicle
</button>

<div class="table-ctnr">
    @foreach (var vehicle in Model)
    {
        <div class="table-row">
            <div class="row-info">
                <img src="@vehicle.ImgPath" />
                <p>@vehicle.Year @vehicle.Make @vehicle.Model</p>
            </div>
            
            <div class="row-btns">
                <button type="button">
                    <i class="fas fa-pencil-alt fa-lg"></i>
                </button>
                <button type="button" onclick="deleteVehicle(@vehicle.VehicleId)">
                    <i class="fas fa-trash-alt fa-lg"></i>
                </button>
            </div>
        </div>
    }
</div>

<!-- JavaScript to handle Delete -->
<script>
    function deleteVehicle(id) {
        if (confirm("Are you sure you want to delete this vehicle?")) {
            fetch(`/Manage/DeleteVehicle?VehicleId=${id}`, {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json'
                }
            })
            .then(response => {
                if (response.ok) {
                    location.reload();
                } 
                else {
                    alert('Error deleting vehicle.');
                }
            })
            .catch(error => console.error('Error:', error));
        }
    }
</script>